.header {
  
  padding-top: 27px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;

}

.header__col--align--right {
  justify-content: flex-end;
}

 /* .header__logo {
  margin-right: 78px; 
}  */


.contacts {
  
  text-align:right;
   position: relative;
   display: inline-block;
  
}

.tel__link{
  font-size: 26px;
  line-height: 35px;
  color: white;
  text-decoration: none;
  display: block;
  margin-right: -3px;
  margin-top: -6px;
}

.header__shedule-link{
  color: white;
  float: right;
  display: inline-block;
  font-size: 13px;
  margin-top: -5px;
  text-decoration: none;
}




.dropdown__menu {
  position: absolute;
  background: url(../../img/dropdown.png) center no-repeat;
  padding: 23px 19px;
  width: 160px;
  height: 80px;
  top: 100%;
  line-height: 21px;
  font-size: 13px;

  text-align: start;
  opacity: 0; 
  transition: opacity .4s;
  left: -9999px; 
}

.dropdown__item1 {
  font-weight: bold;
}

.contacts:hover .dropdown__menu{
  
  left: 31px;
  opacity: 1;
}
.dropdown__menu:before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -29px;
  position: absolute;
}



.contacts__description {
  
  margin-bottom: 8px;
}


